{% extends "_includes/default.njk" %}

{% block title %}Jobs{% endblock %}

{% block content %}
<header class="py-4 px-6 absolute top-0 left-0 right-0 z-10">
    <div class="container mx-auto">
      <div class="flex items-center">
        <div class="flex-1">
          <div class="flex">
            <img src="{{ '/images/logo.svg' | url }}" class="h-6 mr-2">
            <span class="h-6 font-semibold">monitauR</span>
          </div>
          
        </div>
        <button class="text-secondary lg:hidden">
          <svg class="current-fill h-6 w-6" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
            <g>
              <g>
                <path d="M413,422H1c-13.807,0-25-11.193-25-25s11.193-25,25-25h412c13.807,0,25,11.193,25,25S426.807,422,413,422z"/>
              </g>
              <g>
                <path d="M413,562H1c-13.807,0-25-11.193-25-25s11.193-25,25-25h412c13.807,0,25,11.193,25,25S426.807,562,413,562z"/>
              </g>
              <g>
                <path d="M413,282H1c-13.807,0-25-11.193-25-25s11.193-25,25-25h412c13.807,0,25,11.193,25,25S426.807,282,413,282z"/>
              </g>
            </g>
          </svg>

        </button>
        <nav class="hidden lg:flex items-center">
          <a href="{{'/' | url }}" class="px-6 py-3 font-bold uppercase text-secondary hover:text-primary">Home</a>
          <a href="{{'/' | url }}#about" class="px-6 py-3 font-bold uppercase text-secondary hover:text-primary">About</a>
          <a href="{{'/jobs' | url }}" class="px-6 py-3 font-bold uppercase border-b-2 border-primary text-primary">Jobs</a>
        </nav>
      </div>
    </div>
  </header>
<div class="bg-grey-100 px-3 pt-16 font-sans leading-normal tracking-normal">

  <div class="container pt-8 mx-auto" x-data="loadJobs()" x-init="fetchJobs()">
      <input
        x-ref="searchField"
        x-model="search"
        x-on:keydown.window.prevent.slash="$refs.searchField.focus()"
        placeholder="Search for a job..."
        type="search"
        class="block w-full bg-gray-200 focus:outline-none focus:bg-white focus:shadow text-gray-700 font-bold rounded-lg px-4 py-3"
      />
      <div class="mt-4 grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <template x-for="item in filteredJobs" :key="item">
          <div
            class="flex items-center shadow hover:bg-indigo-100 hover:shadow-lg hover:rounded transition duration-150 ease-in-out transform hover:scale-105 p-3"
          >
            <div
              class="flex items-center w-10 h-10 text-2xl bg-red-500 rounded-full mr-4 justify-center"
            >
            <p
            class="text-white leading-none"
            x-text="item.id"
          ></p>
            </div>
            <div class="text-sm">
              <p
                class="text-gray-900 leading-none"
                x-text="item.name"
              ></p>
              <p
                class="text-gray-600"
                x-text="item.status"
              ></p>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
    <script>
      function loadJobs() {
        return {
          search: "",
          myForData: [],
          isLoading: false,
          fetchJobs() {
            console.log('here');
            this.isLoading = true;
            fetch('https://monitaur-api.herokuapp.com/jobs')
              .then(res => res.json())
              .then(data => {
                this.isLoading = false;
                this.myForData = data.reverse();
              });
          },
          get filteredJobs() {
            if (this.search === "") {
              return this.myForData;
            }
            return this.myForData.filter((item) => {
              return item.name
                .toLowerCase()
                .includes(this.search.toLowerCase());
            });
          },
        };
      }
    </script>
{% endblock %}